@model IEnumerable<Crud_dapper.Models.EmployeeModel>

@{
    ViewBag.Title = "DeletedEmployee";
}
<div>
   
</div>
<h2>Deleted  Employee</h2>

<p>
    @*Html.ActionLink("Create New", "AddOrEdit")*@  
    @Html.ActionLink("Active Employee", "Index")
</p>
<table class="table">
    <tr>
        <th>
            SR. NO.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
            *@
       
    </tr>
    @{ int i = 1; }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @i
            </td>
            @{ i++; }
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
           *@
            <td>
                @Html.ActionLink("Restore", "Restore", new { id = item.EmployeeID })

            </td>
        </tr>
    }

</table>

